@model List<Category>
<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="mb-2 page-title" style="text-align :center">Products Data</h2>
                <div class="row my-4">
                    <!-- Small table -->
                    <div class="col-md-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <!-- table -->
                                <table class="table datatables" id="dataTable-1">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Photo</th>
                                            <th>Created Date</th>
                                            <th>Delete Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td><img width="100" height="100" src="~/assets/@item.Image" style="border-radius:50%; border:3px solid #5A54DA" /></td>
                                                @if (item.UptadetAt != null)
                                                {
                                                    <td style="color:navajowhite">@item.UptadetAt.Value.Date.ToLongDateString()</td>
                                                }
                                                else
                                                {
                                                    <td style="color:dodgerblue">Empty</td>
                                                }
                                                <td style="color:orangered">@item.DeletedAt.Value.Date.ToLongDateString()</td>
                                                <td>
                                                    <a style="text-decoration:none;color:ghostwhite;" asp-controller="category" asp-action="undelete" asp-route-id="@item.Id"><span class="fe fe-24 fe-rotate-ccw"></span></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- simple table -->
                </div> <!-- end section -->
            </div> <!-- .col-12 -->
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
</main> 