@model Basket


@if (User.Identity.IsAuthenticated)
{
    <div class="header-cart">
        <div style="border:2px dashed #666;margin-left:30px;position:relative;top:-20px;text-align:center;color:#e52e06;">
            Balance:
            <span style="margin-left:10px;color:black;font-weight:bold;">
                $@(ViewBag.CurrentUser.Balance = ViewBag.CurrentUser.Balance > 0 ? ViewBag.CurrentUser.Balance : 0)
            </span>
        </div>
        <div class="cart-btn">
            <a asp-controller="dbbasket" asp-action="index">
                <i class="icon ion-bag"></i>
                <span class="text">Cart :</span>
                @if (Model.TotalPrice*1.1 <= ViewBag.CurrentUser.Balance)
                {
                    <span style="color:forestgreen" class="total">$@Model.TotalPrice</span>
                }
                else
                {
                    <span style="color:orangered" class="total">$@Model.TotalPrice</span>
                }
                <span class="count">@Model.BasketItems.Count</span>
            </a>
        </div>

        <div class="mini-cart">
            <ul class="cart-items">
                @if (Model.BasketItems != null)
                {
                    foreach (var item in Model.BasketItems)
                    {
                        <li>
                            <div class="single-cart-item d-flex">
                                <div class="cart-item-thumb">
                                    <a asp-controller="detail" asp-action="index" asp-route-id="@item.ProductId"><img src="~/assets/@item.Product.ProductImages.Find(p => p.IsMain == true).ImageUrl" alt="product"></a>
                                    <span class="product-quantity">@item.ProductCount</span>
                                </div>
                                <div class="cart-item-content media-body">
                                    <h5 class="product-name"><a asp-controller="detail" asp-action="index" asp-route-id="@item.ProductId">@item.Product.Name</a></h5>
                                    <span class="product-price">€@item.Product.Price</span>
                                    <a asp-controller="dbbasket" asp-action="remove" asp-route-ReturnUrl="@Context.Request.Path" asp-route-id="@item.Product.Id" class="product-close"><i class="fal fa-times"></i></a>
                                </div>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <h3>Empty</h3>
                }

            </ul>
            <div class="price_content">
                <div class="cart-subtotals">
                    <div class="products price_inline">
                        <span class="label">Subtotal</span>
                        <span class="value">$@String.Format("{0:0.00}", Model.TotalPrice).ToString()</span>
                    </div>
                    <div class="shipping price_inline">
                        <span class="label">Shipping</span>
                        <span class="value">$@String.Format("{0:0.00}", (Model.TotalPrice * 0.1)).ToString()</span>
                    </div>
                    <div class="tax price_inline">
                        <span class="label">Taxes</span>
                        <span class="value">€0.00</span>
                    </div>
                </div>
                <div class="cart-total price_inline">
                    <span class="label">Total</span>
                    <span class="value">$@String.Format("{0:0.00}", (Model.TotalPrice * 1.1)).ToString()</span>
                </div>
            </div> <!-- price content -->

            <div class="checkout text-center">
                <a asp-controller="order" asp-action="index" asp-route-basketid="@Model.Id" class="main-btn">Submit</a>
            </div>

        </div> <!-- mini cart -->

    </div>
}
else
{
<div class="header-cart">
    <div class="cart-btn">
        <a asp-controller="dbbasket" asp-action="index">
            <i class="icon ion-bag"></i>
            <span class="text">Cart :</span>
            <span class="total">$@Model.TotalPrice</span>
            <span class="count">@Model.BasketItems.Count</span>
        </a>
    </div>
</div>
}

