@model List<Brand>
<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="mb-2 page-title" style="text-align :center">Active Brands</h2>
                <div class="row my-4">
                    <!-- Small table -->
                    <div class="col-md-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <!-- table -->
                                <table class="table datatables" id="dataTable-1">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Photo</th>
                                            <th>Created Date</th>
                                            <th>Updated Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td><img width="100" height="100" src="~/assets/@item.ImageUrl" style="border-radius:50%; border:3px solid #5A54DA" /></td>
                                                <td style="color:greenyellow">@item.CreatedAt.Value.Date.ToLongDateString()</td>
                                                @if (@item.UptadetAt != null)
                                                {
                                                    <td style="color:yellow">@item.UptadetAt.Value.Date.ToLongDateString()</td>
                                                }
                                                else
                                                {
                                                    <td style="color:dodgerblue">Empty</td>
                                                }
                                                <td>
                                                    <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="text-muted sr-only">Action</span>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" asp-controller="brand" asp-action="update" asp-route-id="@item.Id">Edit</a>
                                                        @if (item.IsDeleted == false)
                                                        {
                                                            <a class="dropdown-item" asp-controller="brand" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- simple table -->
                </div> <!-- end section -->
            </div> <!-- .col-12 -->
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
</main> <!-- main -->

